﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model.Operations != null)
{
<ul>
    @foreach (var operation in Model.Operations)
    {
    <li>
        <a asp-page="/Operation" asp-route-id="@operation.Id">@operation.ForeignId</a>
    </li>
    }
</ul>
}

<form method="post">
    <input asp-for="ForeignId" />
    <input asp-for="OrderDate" />
    <input asp-for="SubaccountCode" />
    <input type="submit">
</form>