﻿@page
@model BCS.Web.Pages.OperationModel
@{
}

@if (Model.Operation != null)
{
    <div>@Model.Operation.ForeignId</div>
    <div>@Model.Operation.OrderDate</div>
    <div>@Model.Operation.SubaccountCode</div>
}